//---
//title: 'Index Page'
//preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
//preloaderImg: '/img/promo-bg.png'
//---
//extends layouts/_layout

doctype strict

html(xmlns="http://www.w3.org/1999/xhtml" bgcolor="#F2F2F2")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(content="initial-scale=1.0", name="viewport")
		title clicher | invite
		style
			:stylus
				.ReadMsgBody
					width 100%
					background-color #f2f2f2
				.ExternalClass
					width 100%
					background-color #f2f2f2
				.ExternalClass,
				.ExternalClass p,
				.ExternalClass span,
				.ExternalClass font,
				.ExternalClass td,
				.ExternalClass div
					line-height 100%
				html
					width 100%
				body
					-webkit-text-size-adjust none
					-ms-text-size-adjust none
				body
					margin 0
					padding 0
				table
					border-spacing 0
				img
					height auto
					line-height 100%
					outline none
					text-decoration none
				table td
					border-collapse collapse
				html, body
					background-color #f2f2f2
					margin 0
					padding 0
				br, strong br, b br, em br, i br
					line-height 100%
	body(style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; width: 100%; text-align: center; height: 100%;background-color:#423655; text-align:center; width:100%; align:center")
		table(style="width: 100%; text-align: center;" align="center" cellspacing="0" cellpadding="0" border="0")
			tr
				td(align="center")
					table(style="width: 640px" cellspacing="0" cellpadding="0" border="0")
						tr
							td(style="color:#fff; text-align:center; font-size:14px;padding:25px 0;" align="center") Чтобы сообщения не попадали в спам, добавьте адрес <a href="info@astro.ua" style="color:#fff;text-decoration:none">info@astro.ua</a> в адресную книгу.
						tr
							td
								img(src="img/header.png" style="display:block;margin:0;padding:0;height:12px;width:640px")
						tr
							td(style="background-color:#fff;")
								table(cellspacing="0" cellpadding="0" border="0")
									tr
										td(style="padding:15px 0 20px 15px")
											img(src="img/logo.png" alt="ASTROLOGY")
										td(style="vline:") Не отображаются картинки?<br>Откройте в браузере <a href="/">ссылки</a>
						tr
							td(style="background-color:#fff;padding:15px 0 20px 15px;font-family: Arial;font-size: 26px;font-weight: 700;line-height: 26px;color: #1e1e1e;" align="center") Как выбрать колоду Таро под себя?
						tr
							td(style="background-color:#fff;padding:15px 0 20px 15px")
								img(src="img/taro.png")
						tr
							td(style="background-color:#fff;font-size:14px;padding:15px;") Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Быть игроком в команде замечательно - даже если Вам не очень хочется откладывать свои личные устремления, Вы верите в общую цель. В конечном итоге важность того, чего Вы достигнете, перевесит жертвы, на которые Вы пошли. Сегодня Вы почувствуете гордость за себя, а это прямой признак того, что Ваша уверенность в себе растет. Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Вы достигнете, перевесит жертвы, на которые Вы пошли.
					table(style="background-color:#fff;padding:15px 0 20px 15px;width: 640px" cellspacing="0" cellpadding="0" border="0")
						tr
							td
								table
									tr
										td(align="center")
											img(src="img/avatar-1.png")
									tr
										td(align="center") Артем Колпачев
									tr
										td(align="center") Экстрасенс, Астролог